root {
    display: block;
}

.error {
    -fx-background-color: #bababa;
    -fx-fill: #FF0000;
    -fx-font-size: 14pt;
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
}

.info {
    -fx-background-color: #bababa;
    -fx-fill: #0000FF;
    -fx-font-size: 14pt;
    -fx-stroke: black;
    -fx-stroke-width: 0.5;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}